fastapi>=0.116,<0.117
uvicorn[standard]
sqlalchemy>=2.0,<2.1
alembic
python-dotenv
python-multipart
mutagen
httpx
aiohttp>=3.12,<4
boto3
psycopg2-binary
requests
pillow
huggingface-hub
python-magic-bin; platform_system == "Windows"
python-magic; platform_system != "Windows"
b2
starlette>=0.47,<0.48